.vs
.vscode
**/.DS_Store
**/.editorconfig
**/.gitattributes
**/.gitignore
**/.prettierignore
**/.prettierrc
**/.CHANGELOG.md
**/LICENSE
**/omnisharp.json
**/pylintrc
log-writer-sa.json
**/.env
**/.env.*
**/.git
**/.github
**/.gitignore
**/.mailbox
**/.maildrop
**/appsettings.Development.json
**/bin
**/data
**/deploy
**/dist
**/forklift
**/maps
**/mockups
**/node_modules
**/obj
**/omnisharp.json
**/scripts
**/spa.proxy.json
cloud_sql_proxy
docker-compose.*.yml
docker-compose.yml
Readme.md
