[tool.ruff]
line-length = 120
[tool.ruff.lint]
ignore = ["E501"]
[tool.pytest.ini_options]
minversion = "6.0"
testpaths = ["tests", "src"]
norecursedirs = [".env", "data", "maps", ".github", ".vscode", "src"]
console_output_style = "count"
