.downshift__match-dropdown {
  width: 190px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  font-size: 12px;
  position: absolute;
  z-index: 9999;
}
.downshift__matches {
  display: block;
  width: 100%;
  padding-inline-start: 0;
  margin-bottom: 0;
}
.downshift__match-item {
  padding: 2px 12px;
  display: flex;
  justify-content: space-between;
}
.downshift__match-item:hover,
.downshift__match-item--selected {
  background-color: #428bca;
  color: #fff;
  cursor: pointer;
}
.downshift__match-item[disabled],
.downshift__match-item[disabled]:hover {
  pointer-events: none;
  justify-content: center;
}
.downshift__message {
  display: block;
  padding: 0.5rem 1rem;
}
.dropdown-menu form .downshift {
  position: relative;
}
.card-header {
  cursor: pointer;
}
.card-body {
  padding: 0;
  padding-top: 1.25rem;
}
