.app__header {
  grid-area:  header/side/map/header;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 8px;
}

/* @media screen and (max-width: 624px) {
  .app__header {
    visibility: hidden;
  }
} */

.header__heading {
  font-family: Arial, sans-serif;
  margin: 5px 0 0 5px;
  font-size: 40px;
  letter-spacing: -2px;
}

.heading__img {
  position: absolute;
  top: -3px;
  right: 0;
  height: 75px;
}

@media screen and (max-width: 624px) {
  .heading__img {
    display: none;
  }
}

.heading__version {
  font-size: 10px;
  text-decoration: none;
  vertical-align: sub;
  margin-left: -10px;
  letter-spacing: 0;
}
