.map-tool-panel {
  background: #fff;
  pointer-events: auto;
  min-width: 32px;
  min-height: 32px;
}

.map-tool-panel--open {
  width: auto !important;
  height: auto !important;
  text-align: initial !important;
}
