.side-bar {
  background-color: white;
  grid-area: map/side;
  overscroll-behavior: contain;
  overflow: hidden auto;
}

@media screen and (max-width: 624px) {
  .side-bar {
    box-shadow: 3px 0px 9px -4px rgba(0, 0, 0, 0.75);
    border-top-right-radius: 10px;
    position: sticky;
    top: 0;
    transform: translateX(-110vw);
    will-change: transform;
    transition:
      transform var(--duration) var(--easeOutExpo),
      visibility 0s linear var(--duration);
  }
  .side-bar--open {
    grid-area: header/side/4;
    z-index: 4;
    visibility: visible;
    transform: translateX(0);
    transition: transform var(--duration) var(--easeOutExpo);
  }
}
