.side-bar {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgba(170, 170, 170, 0.118);
}

/* @media screen and (max-width: 624px) {
  .side-bar {
    box-shadow: 3px 0px 9px -4px rgba(0, 0, 0, 0.75);
  }
} */

.side-bar--open {
  grid-area: side;
}

.side-bar--closed {
  visibility: hidden;
}
