body, html, .app {
    display: grid;
    grid-template-columns: 325px 1fr;
    grid-template-rows: 75px 1fr;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #444;
}

.f-column {
    flex-direction: column;
}

.f-row {
    flex-direction: row;
}

.f-wrap {
    flex-wrap: wrap;
}

.j-between {
    justify-content: space-between;
}

.j-around {
    justify-content: space-around;
}
