.app {
  display: grid;
  grid: [header] 75px [map] 1fr / [side] 325px [map] 1fr;
  column-gap: 7px;
  width: calc(100vw - 10px);
  height: calc(100vh - 5px);
  margin: auto;
  overflow: hidden;
  color: #444;
}

@media screen and (max-width: 624px) {
  .app .map-lens, .side-bar {
    grid-area: header/side/map/map;
    width: 100vw;
  }
  .side-bar, .app__header {
    --duration: 3s;
    --easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);
     position: sticky;
    top: 0;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    overflow: hidden auto;
    overscroll-behavior: contain;
    visibility: hidden;
    transform: translateX(-110vw);
    will-change: transform;
    transition: transform var(--duration) var(--easeOutExpo), visibility 0s linear var(--duration)
  }
}

.app .esri-ui-top-left {
  top: 30px;
}

.f-column {
  flex-direction: column;
}

.f-row {
  flex-direction: row;
}

.f-wrap {
  flex-wrap: wrap;
}

.j-between {
  justify-content: space-between;
}

.j-around {
  justify-content: space-around;
}
