body, html, .app {
    display: grid;
    grid-template-columns: 325px 1fr;
    grid-template-rows: 75px 1fr;
    grid-column-gap: 7px;
    width: calc(100vw - 10px);
    height: calc(100vh - 5px);
    margin: auto;
    overflow: hidden;
    color: #444;
}

.app .esri-ui-top-left {
    top: 30px;
}

@media screen and (max-width: 624px) {
    .app {
        grid-template-columns: 325px 1fr;
        grid-template-rows: 0px 1fr;
    }
}

.f-column {
    flex-direction: column;
}

.f-row {
    flex-direction: row;
}

.f-wrap {
    flex-wrap: wrap;
}

.j-between {
    justify-content: space-between;
}

.j-around {
    justify-content: space-around;
}
