.map-lens {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  background-color: white;
  z-index: 3;
  grid-column: 1 / span 2;
  grid-row: 2;
}

@media screen and (max-width: 624px) {
  .map-lens--side-bar-open {
    grid-column: 1 / span 2 !important;
  }
  .map-lens__toggle--mobile-open {
    right: 0;
  }
}

.map-lens__toggle {
  position: absolute;
  border-radius: unset;
  z-index: 1;
}

.map-lens--side-bar-open {
  grid-column: 2;
  grid-row: 2;
}

.map-lens--with-border {
  border: 1px solid #b5bcc7;
}
