.map-lens {
  height: 100vh;
  display: inline-grid;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  background-color: white;
  z-index: 3;
  grid-area: map/map;
}

/* @media screen and (max-width: 624px) {
  .map-lens--side-bar-open {
    grid-area: map;
  }
  .map-lens__toggle--mobile-open {
    right: 0;
  }
} */

.map-lens__toggle {
  position: absolute;
  border-radius: unset;
  z-index: 1;
}

.map-lens--side-bar-open {
  /* grid-area: map; */
}

.map-lens--with-border {
  border: 1px solid #b5bcc7;
}
